@layout("layouts/base")

@section("content")
<div class="section">
  <a class="ui primary button" href="{{route('contacts.index')}}">
    Ver lista de contatos
  </a>
  <a class="ui positive button add" href="{{route('contacts.create')}}">
    Adicionar novo contato
  </a>
</div>
@endsection
