.wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-header {
    margin-bottom: 3rem;
}

.main-footer {
  margin-top: 3rem;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.required-field {
    color: red;
}
