<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftMakers Contatos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="ui container">
          <h1>SoftMakers Contatos</h1>
        </div>
      </header>
      <main>
        <div class="ui container">
          @!section("content")
        </div>
      </main>
      <footer class="main-footer">
        <div class="ui container">
          <p>&copy; 2021</p>
        </div>
      </footer>
    </div>
  </body>
</html>
